# Actividad 1.1 (Extracción de Datos)
## A01702728 - Luis Javier González Romero

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('Detalle precios y productos fabricados 2022.xlsx')
df.head()

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426 entries, 0 to 1425
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CVE_DOC                    1426 non-null   object
 1   FECHA_DOC                  1426 non-null   datetime64[ns]
 2   NOMBRE_VENDEDOR            1424 non-null   object
 3   NOMBRE_CLIENTE             1426 non-null   object
 4   CANT                       1426 non-null   int64
 5   CVE_ART                    1426 non-null   object
 6   DESCR                      1426 non-null   object
 7   PRECIO_UNITARIO            1426 non-null   float64
 8   COSTO_UNITARIO             1426 non-null   float64
 9   COSTO_UNITARIO_CALCULADO   1426 non-null   float64
 10  SUBTOTAL_PARTIDA           1426 non-null   float64
 11  COSTO_TOTAL_CALCULADO      1426 non-null   float64
 12  MARGEN_UNITARIO_CALCULADO  1426 non-null   float64
 13  MARGEN_TOTAL_CALCULADO     1426 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 156.1+ KB

### Filtro 1
Este filtro nos regresa los registros en los cuales su valor para la columna ***'NOMBRE_CLIENTE'*** es igual a ***'JUAN ANTONIO RESENDIZ UGALDE'***.

In [4]:
# Filtro por objeto
filtro1 = df[df['NOMBRE_CLIENTE'] == 'JUAN ANTONIO RESENDIZ UGALDE']
filtro1.to_csv('Filtro01.csv')
filtro1

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
178,F37381,2022-02-16,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,8,TU5/16X203V,"TUBULAR U"" 5/16"" 203MM 1500W 127V""",594.83,0.00,325.78,4758.64,2606.27,269.05,2152.37
292,F37582,2022-03-09,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,10,TU5/16X203V,"TUBULAR U"" 5/16"" 203MM 1500W 127V""",594.83,326.23,326.23,5948.30,3262.29,268.60,2686.01
484,F37942,2022-04-21,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,5,TUA00436,"TUB INOX 5/16""ØX190MM 1250W127V TAP1""NPT",825.00,333.44,333.44,4125.00,1667.21,491.56,2457.79
632,F38261,2022-05-30,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,3,TU5/16X203V,"TUBULAR U"" 5/16"" 203MM 1500W 127V""",642.00,321.87,321.87,1926.00,965.61,320.13,960.39
662,F38329,2022-06-07,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,12,TUA00436,"TUB INOX 5/16""ØX190MM 1250W127V TAP1""NPT",825.00,0.00,332.90,9900.00,3994.81,492.10,5905.19
680,F38373,2022-06-14,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,3,TU5/16X203V,"TUBULAR U"" 5/16"" 203MM 1500W 127V""",642.00,321.87,321.87,1926.00,965.61,320.13,960.39
852,F38669,2022-07-26,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,12,TUA00436,"TUB INOX 5/16""ØX190MM 1250W127V TAP1""NPT",825.00,333.00,333.00,9900.00,3995.98,492.00,5904.02
1102,F39199,2022-09-30,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,10,TUA00436,"TUB INOX 5/16""ØX190MM 1250W127V TAP1""NPT",825.00,332.90,332.90,8250.00,3329.01,492.10,4920.99
1281,F39569,2022-11-15,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,5,TU5/16X203V,"TUBULAR U"" 5/16"" 203MM 1500W 127V""",650.00,325.78,325.78,3250.00,1628.92,324.22,1621.08
1282,F39569,2022-11-15,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,5,TUA00436,"TUB INOX 5/16""ØX190MM 1250W127V TAP1""NPT",825.00,332.90,332.90,4125.00,1664.51,492.10,2460.49

### Filtro 2
En este filtro se estarán regresando únicamente las filas o registros con índice ***45, 1050 y 1200***.

In [5]:
#filtro por filas
filtro2 = df.iloc[[45,1050,1200],:]
filtro2.to_csv('Filtro02.csv')
filtro2

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
45,F37114,2022-01-14,LETICIA RAMIREZ HERNANDEZ,MARCOS FRANCISCO GOMEZ PONCE,1,TUS00049,"TUB INOX. 5/16""Øx1 MTS 900W, 127V. U TOR",803.00,140.29,140.29,803.00,140.29,662.71,662.71
1050,F39096,2022-09-20,LETICIA RAMIREZ HERNANDEZ,WELDCOAT DE MEXICO,1,PJ31G1AB0600,"TER J 3/16""ØX8"" CON 1/2""-1/2"" NPT C/MAR",1103.45,0.00,400.95,1103.45,400.95,702.50,702.50
1200,F39385,2022-10-24,LETICIA RAMIREZ HERNANDEZ,CRUKEL WATER & CHEMICALS,1,TEA00110,"TEA J 3/16""ØX40CM EXT3MT C/TORNILLO 1/4""",742.45,166.83,166.83,742.45,166.83,575.62,575.62

### Filtro 3
En este filtro se regresan todos los registros mostrando únicamente las columnas ***1, 4 y 5***.

In [6]:
#Filtro por columnas
filtro3 = df.iloc[:,[1,4,5]]
filtro3.to_csv('Filtro03.csv')
filtro3

      FECHA_DOC  CANT       CVE_ART
0    2022-01-05     1      TUE00244
1    2022-01-05     1      TUA00028
2    2022-01-05     7        TP0007
3    2022-01-05     1        TP0001
4    2022-01-05     2       BP00242
...         ...   ...           ...
1421 2022-12-23     6  CS12F1040A00
1422 2022-12-23     6  CS12H1050A00
1423 2022-12-23     3      TUE00394
1424 2022-12-23     1      TUA00470
1425 2022-12-23    10       RB00007

[1426 rows x 3 columns]

### Filtro 4
Primero creamos un nuevo DataFrame indicando que la columna 2 (***'NOMBRE_VENDEDOR'***) sea el nuevo índice. El filtro, nos regresa la columna ***'MARGEN_TOTAL_CALCULADO'***  con los registros con índices ***'LETICIA RAMIREZ HERNANDEZ' y 'AARON NUÑO CORDOVA'***

In [7]:
df1 = pd.read_excel('Detalle precios y productos fabricados 2022.xlsx', index_col=2)
filtro4 = df1.loc[['LETICIA RAMIREZ HERNANDEZ', 'AARON NUÑO CORDOVA'],['MARGEN_TOTAL_CALCULADO']]
filtro4.to_csv('Filtro04.csv')
filtro4

                           MARGEN_TOTAL_CALCULADO
NOMBRE_VENDEDOR
LETICIA RAMIREZ HERNANDEZ                  381.68
LETICIA RAMIREZ HERNANDEZ                  936.87
LETICIA RAMIREZ HERNANDEZ                  141.41
LETICIA RAMIREZ HERNANDEZ                  375.32
LETICIA RAMIREZ HERNANDEZ                  166.62
...                                           ...
AARON NUÑO CORDOVA                        1721.01
AARON NUÑO CORDOVA                        3248.75
AARON NUÑO CORDOVA                        3197.02
AARON NUÑO CORDOVA                        1399.82
AARON NUÑO CORDOVA                       13253.45

[967 rows x 1 columns]

### Filtro 5
Este filtro usa la función ***.head()*** para regresar los primeros 5 registros del DataFrame.

In [8]:
filtro5 = df.head()
filtro5.to_csv('Filtro05.csv')
filtro5

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41

### Filtro 6
Este filtro usa la función ***.tail()*** para regresar los últimos 5 registros del DataFrame.

In [9]:
filtro6 = df.tail()
filtro6.to_csv('Filtro06.csv')
filtro6

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

### Filtro 7
Este filtro nos regresa los registros para los cuales su valor en la columna ***'MARGEN_TOTAL_CALCULADO'*** es mayor a ***7000***

In [10]:
# Filtro de comparación
filtro7 = df1[df1['MARGEN_TOTAL_CALCULADO'] > 7000]
filtro7.to_csv('Filtro07.csv')
filtro7

,CVE_DOC,FECHA_DOC,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
NOMBRE_VENDEDOR,,,,,,,,,,,,,
DIEGO ARMANDO LEON DURAN,F37044,2022-01-05,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,14000.00,5323.76,5323.76,14000.00,5323.76,8676.24,8676.24
ALFREDO CANELA,F37078,2022-01-07,CLAVOS NACIONALES C.N,30,BOBINA001,BOBINA CAL.8 DSD C/TERMINALES EN INOX,1299.32,305.44,305.44,38979.60,9163.18,993.88,29816.42
ALFREDO CANELA,F37086,2022-01-10,CLAVOS NACIONALES C.N,30,BOBINA001,BOBINA CAL.8 DSD C/TERMINALES EN INOX,1299.32,305.44,305.44,38979.60,9163.18,993.88,29816.42
DIEGO ARMANDO LEON DURAN,F37098,2022-01-12,REDYPLAST,40,CBS00045,"CART INOX 3/8""Øx8"" 340W, 220V CABLE 35CM",259.60,64.85,64.85,10384.00,2594.17,194.75,7789.83
ALFREDO CANELA,F37102,2022-01-12,DEACERO,3,TUE00321,"TUB INOX 1/2""ØX1030MMX980MM 3KW480V ""L""",12720.00,0.00,1509.14,38160.00,4527.42,11210.86,33632.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
ALFREDO CANELA,F39816,2022-12-22,TOSTADAS FANNY,6,TUA00492,"TUB INOX 1/2""ØX40CM 4000W 220V ""M"" BUSH",2959.68,0.00,1186.76,17758.08,7120.54,1772.92,10637.54
ALFREDO CANELA,F39824,2022-12-23,MEGO AFEK,1,TUA00325,"TUB INOX 1/2""ØX75CM ""U"" 30KW440V BRIDA6""",12500.00,4579.08,4579.08,12500.00,4579.08,7920.92,7920.92
AARON NUÑO CORDOVA,F39826,2022-12-23,CPEG SOLUTIONS,5,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1897.27,78.09,78.09,9486.35,390.43,1819.18,9095.92
LETICIA RAMIREZ HERNANDEZ,F39830,2022-12-23,TORJJS,6,BP00006,BAN P INOX 1800x25mm 2800W 440V. CABLE,1888.00,0.00,294.50,11328.00,1767.02,1593.50,9560.98
AARON NUÑO CORDOVA,F39838,2022-12-23,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

### Filtro 8
Este filtro nos regresa los registros para los cuales su valor en la columna ***'MARGEN_TOTAL_CALCULADO'*** es mayor a ***7000*** y su valor en la columna ***'FECHA_DOC'*** es igual a ***'2022-12-23'***

In [11]:
#Filtro Y
filtro8 = df[(df['MARGEN_TOTAL_CALCULADO'] > 7000) & (df['FECHA_DOC'] == '2022-12-23')]
filtro8.to_csv('Filtro08.csv')
filtro8

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
1412,F39824,2022-12-23,ALFREDO CANELA,MEGO AFEK,1,TUA00325,"TUB INOX 1/2""ØX75CM ""U"" 30KW440V BRIDA6""",12500.00,4579.08,4579.08,12500.00,4579.08,7920.92,7920.92
1413,F39826,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,5,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1897.27,78.09,78.09,9486.35,390.43,1819.18,9095.92
1415,F39830,2022-12-23,LETICIA RAMIREZ HERNANDEZ,TORJJS,6,BP00006,BAN P INOX 1800x25mm 2800W 440V. CABLE,1888.00,0.00,294.50,11328.00,1767.02,1593.50,9560.98
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

### Filtro 9
Este filtro nos regresa los registros para los cuales su valor en la columna ***'MARGEN_TOTAL_CALCULADO'*** es mayor a ***7000*** ó su valor en la columna ***'FECHA_DOC'*** es igual a ***'2022-12-23'***

In [12]:
#Filtro o
filtro9 = df[(df['MARGEN_TOTAL_CALCULADO'] > 7000) | (df['FECHA_DOC'] == '2022-12-23')]
filtro9.to_csv('Filtro09.csv')
filtro9

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
6,F37044,2022-01-05,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,14000.00,5323.76,5323.76,14000.00,5323.76,8676.24,8676.24
29,F37078,2022-01-07,ALFREDO CANELA,CLAVOS NACIONALES C.N,30,BOBINA001,BOBINA CAL.8 DSD C/TERMINALES EN INOX,1299.32,305.44,305.44,38979.60,9163.18,993.88,29816.42
31,F37086,2022-01-10,ALFREDO CANELA,CLAVOS NACIONALES C.N,30,BOBINA001,BOBINA CAL.8 DSD C/TERMINALES EN INOX,1299.32,305.44,305.44,38979.60,9163.18,993.88,29816.42
38,F37098,2022-01-12,DIEGO ARMANDO LEON DURAN,REDYPLAST,40,CBS00045,"CART INOX 3/8""Øx8"" 340W, 220V CABLE 35CM",259.60,64.85,64.85,10384.00,2594.17,194.75,7789.83
40,F37102,2022-01-12,ALFREDO CANELA,DEACERO,3,TUE00321,"TUB INOX 1/2""ØX1030MMX980MM 3KW480V ""L""",12720.00,0.00,1509.14,38160.00,4527.42,11210.86,33632.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45